@charset "UTF-8";

body{
    font-family: sans-serif;
}

.header{
    background-color: #212529;
    padding: 35px 0px 10px 0px;
    text-align: center;
    color: #ffff;
}

.header h1{
    font-weight: bold;
    font-size: x-large;
}

.nav li{
    padding: 4px;
    list-style-type: none;
}

.nav ul{
    margin-top: 15px;
    display: flex;
}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
}

.nav a{
    text-decoration: none;
    color: #ffff;
    padding: 15px;
    transition: all 0.4s;
}

.nav a:hover{
    color: rgb(231, 46, 93);
    font-size: 110%;
    letter-spacing: 1px;
    box-shadow: 1px 1px black;
    border-radius: 70px;
}

.main{
    background-color: #F5F5F5;
}

.footer{
    
    background-color: #212529;
}

