@charset "UTF-8";

body{
    font-family: sans-serif;
    min-height: 100vh;
}

/* Header */
.header{
    background-color: #212529;
    padding: 35px 0px 10px 0px;
    text-align: center;
    color: #ffff;
}

.header h1{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5px;
}

.nav li{
    padding: 4px;
    list-style-type: none;
}

.nav ul{
    margin-top: 15px;
    display: flex;
}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav a{
    text-decoration: none;
    color: #ffff;
    padding: 15px;
    transition: all 0.4s;
}

.nav a:hover{
    color: rgb(231, 46, 93);
    font-size: 110%;
    letter-spacing: 1px;
    box-shadow: 1px 1px black;
    border-radius: 70px;
}

/* Fim Header */


/* Conteudo Principal */
.main {
    background-color: #F5F5F5; 
    /* Define a altura mínima da seção principal como a altura da tela menos 166 pixels */
    min-height: calc(100vh - 166px); 
    display: flex; 
    /* Alinha o container verticalmente ao centro */
    align-items: center; 
    /* Alinha os itens horizontalmente ao centro */
    justify-content: center; 
}

.container {
    background-color: gray; 
    display: flex;
    width: 600px; 
    min-height: 575px; 
    border-radius: 30px; 
    /* Alinha os itens horizontalmente, com espaço entre eles */
    justify-content: space-around;
    position: relative;
}

.form{
    display: flex;
    margin-top: 35px;
    height: 30px;
}

/* Switch Day/Night */

.toggleWrapper {
    /* Define o elemento como um elemento pai para posicionamento relativo de seus filhos */
    position: relative; 
    margin-top: 20px;
    height: 40px;

    /* Esconde o Checkbox*/
    input {
        position: absolute;
        left: -500em;
    }
}

.toggle {
    cursor: pointer; 
    /* Define o elemento como um bloco inline */
    display: inline-block; 
    /* Largura do background */
    width: 90px; 
    /* Altura do background */
    height: 50px; 
    /* Define a cor de fundo do elemento */
    background-color: #83d8ff; 
    border-radius: 74px; 
    /* Define uma transição suave para a mudança de cor de fundo */
    transition: background-color 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 

    /*pseudo-elemento 'before' para exibir 'Day' */
    &:before {
        /* Define o conteúdo */
        content: 'Day'; 
        /* Define o posicionamento */
        position: absolute; 
        /* Define o espaçamento esquerdo */
        margin-left: -40px; 
        /* Define o espaçamento superior*/
        margin-top: 15px; 
        /* Define o tamanho da fonte */
        font-size: 18px;
        color: #e9dc25;
        font-weight: bold;
    }

    /*pseudo-elemento 'after' para exibir 'Night' */
    &:after {
        /* Define o conteúdo*/
        content: 'Night'; 
        position: absolute; 
        right: -52px; 
        margin-top: 15px; 
        font-size: 18px; 
        color: #ffffff;
        font-weight: bold;
    }
}

.toggle_handler {
    /* Define SOL E LUA como um bloco inline */
    display: inline-block; 
    position: relative; 
    margin-top: 3px; 
    margin-left: 3px; 
    width: 44px; 
    height: 44px; 
    background-color: #FFCF96; 
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3); 
    /* Define uma transição suave para as mudanças de estilo */
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    /* Define a rotação do elemento */
    transform: rotate(-45deg); 

    /* Estiliza os elementos 'crater' crateras da LUA */
    .crater {
        /* Define o posicionamento */
        position: absolute; 
        /* Define a cor de fundo */
        background-color: #e8cda5; 
        /* Define a opacidade */
        opacity: 0; 
        /* Define uma transição suave para a mudança de opacidade */
        transition: opacity 200ms ease-in-out; 
        /* Define o raio das bordas */
        border-radius: 100%; 
    }

    /* Estiliza o primeiro elemento 'crater' */
    .crater--1 {
        /* Define o espaçamento superior */
        margin-top: 18px; 
        /* Define o espaçamento esquerdo */
        margin-left: 10px; 
        /* Define a largura */
        width: 4px; 
        /* Define a altura */
        height: 4px; 
    }

    /* Estiliza o segundo elemento 'crater' */
    .crater--2 {
        margin-top: 28px;
        margin-left: 22px; 
        width: 6px; 
        height: 6px; 
    }

    /* Estiliza o terceiro elemento 'crater' */
    .crater--3 {
        margin-top: 10px; 
        margin-left: 25px; 
        width: 8px; 
        height: 8px; 
    }
}

.star {
    position: absolute; 
    background-color: #ffffff; 
    /* Define uma transição suave para as mudanças de estilo */
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 
    /* Define o raio das bordas */
    border-radius: 50%; 
}

.star--1 {
    /* Define o espaçamento superior */
    margin-top: 10px; 
    /* Define o espaçamento esquerdo */
    left: 35px; 
    /* Define o índice z do elemento */
    z-index: 0; 
    /* Define a largura */
    width: 30px; 
    /* Define a altura */
    height: 3px; 
}

.star--2 {
    margin-top: 18px; 
    /* Define o espaçamento esquerdo */
    left: 28px; 
    /* Define o índice z do elemento */
    z-index: 1; 
    width: 30px;
    height: 3px; 
}

.star--3 {
    margin-top: 27px;
    left: 40px; 
    z-index: 0; 
    width: 30px; 
    height: 3px; 
}

.star--4,
.star--5,
.star--6 {
    /* Define a opacidade do elemento */
    opacity: 0; 
    /* Define uma transição suave para as mudanças de estilo */
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95); 
}

.star--4 {
    margin-top: 16px; 
    left: 11px; 
    z-index: 0; 
    width: 2px; 
    height: 2px; 
    /* Define a transformação do elemento */
    transform: translate3d(3px,0,0); 
}

.star--5 {
    margin-top: 32px; 
    left: 17px; 
    z-index: 0; 
    width: 3px; 
    height: 3px; 
    /* Define a transformação do elemento */
    transform: translate3d(3px,0,0); 
}

.star--6 {
    margin-top: 36px; 
    left: 28px; 
    z-index: 0; 
    width: 2px; 
    height: 2px; 
    /* Define a transformação do elemento */
    transform: translate3d(3px,0,0); 
}

/* Estiliza o elemento 'toggle' quando o checkbox associado está marcado */
input:checked {
    /* Seleciona o elemento 'toggle' adjacente ao checkbox marcado */
    + .toggle {
        background-color: #355d96; 

        /* Estiliza o pseudo-elemento 'before' do elemento 'toggle' */
        &:before {
            /* Define a cor do pseudo-elemento */
            color: #ffffff;
            
        }

        /* Estiliza o pseudo-elemento 'after' do elemento 'toggle' */
        &:after {
            /* Define a cor do texto */
            color: #355d96;
            font-weight: bold;
        }

        /* Estiliza o elemento 'toggle_handler' dentro'toggle' */
        .toggle_handler {
            /* Define a cor de fundo */
            background-color: #ffe5b5; 
            /* Define a transformação */
            transform: translate3d(40px, 0, 0) rotate(0); 

            /* Estiliza o elemento 'crater' dentro do elemento 'toggle_handler' */
            .crater {
                /* Define a opacidade */
                opacity: 1; 
            }
        }

        /* Estiliza os elementos 'star' dentro do elemento 'toggle' */
        .star--1 {
            width: 2px; 
            height: 2px; 
        }

        .star--2 {
            width: 4px; 
            height: 4px; 
            /* Define a transformação do elemento */
            transform: translate3d(-5px, 0, 0); 
        }

        .star--3 {
            width: 2px; 
            height: 2px; 
            transform: translate3d(-7px, 0, 0); 
        }

        .star--4,
        .star--5,
        .star--6 {
            /* Define a opacidade do elemento */
            opacity: 1; 
            transform: translate3d(0,0,0); 
        }

        .star--4 {
            /* Define uma transição suave para as mudanças de estilo */
            transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 
        }

        .star--5 {
            /* Define uma transição suave para as mudanças de estilo */
            transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 
        }

        .star--6 {
            /* Define uma transição suave para as mudanças de estilo */
            transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95); 
        }
    }
}

/* Fim Switch Day/Night */

.city-info{
    position: absolute;
    top: 100px;
    display: flex;
    margin-left: 13px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffff;
    font-size: 2.5em;
}

/* Fim Conteudo Principal */

.footer{
    text-align: center;
    font-weight: bold;
    color: #ffff;
    background-color: #212529;
}

